@tailwind base;
@tailwind components;
@tailwind utilities;

.gpay-button {
  @apply focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500 rounded-md !important;
}

@media screen and (max-width: 640px) {
  .StripeElement {
    padding: 11px 12px;
  }
}

@media screen and (min-width: 640px) {
  .StripeElement {
    padding: 10px 12px;
  }
}

.StripeElement {
  @apply border border-gray-300 rounded-md bg-white w-full shadow-sm block;
}

.StripeElement--focus {
  @apply border-2 border-primary-500 outline-none !important;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-placeholder::placeholder {
  color: #6a717e;
}
